<footer>
    <address class="footer_wrap">
        <div class="information">
            <div class="myname">
                Sunggweon Hyeong
            </div>
            <a href="mailto:devted@protonmail.com" class="email">
                devted@protonmail.com
            </a>
            <div class="accounts">
                <a href="http://github.com/cielgrisdemoscou" target="_blank" class="transition">
                    <svg viewBox="0 0 32.6 31.8">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3,0C7.3,0,0,7.3,0,16.3c0,7.2,4.7,13.3,11.1,15.5
                    c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
                    c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
                    C7.4,10.7,6.8,9,7.7,6.8c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
                    c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
                    c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C32.6,7.3,25.3,0,16.3,0z"></path>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/in/sunggweon-hyeong-a3b396187/" target="_blank" class="transition">
                    <svg viewBox="0 0 38.3 38.3">
                        <g>
                        <rect x="0.8" y="12.8" width="7.9" height="25.5"></rect>
                        <ellipse cx="4.7" cy="4.7" rx="4.7" ry="4.7"></ellipse>
                        <path d="M21.3,24.9c0-3.6,1.7-5.7,4.8-5.7c2.9,0,4.3,2.1,4.3,5.7c0,3.7,0,13.4,0,13.4h7.9c0,0,0-9.3,0-16.2
                        c0-6.8-3.9-10.1-9.3-10.1s-7.7,4.2-7.7,4.2v-3.4h-7.6v25.5h7.6C21.3,38.3,21.3,28.8,21.3,24.9z"></path>
                            </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="copyright">
            <span>
                &copy; {{ site.author.name }}. <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>
            </span>
        </div>    
    </address>
</footer>
